<div class="AboutUs">
  <div class="sectiontitle sectiontitleAbout">
    <h3 class="titleInSect">ABOUT US</h3>
  </div>
  <div class="about-body">
    <div class="abouttext">
    <div class="textmain">
      Sport Cities International LLC (“SCI”) is a subsidiary of Bukhatir Group
      one of the largest conglomerates in the Gulf region with revenues in
      excess of USD 1 billion. SCI is a real estate development company created
      to lend strategic support to SCI project companies around the world, with
      significant experience in master planning, marketing, and selling
      mixed-use projects.
      </div>
      <div class="aboutLink">
        <a aria-label="link" href=""> MORE ABOUT TUNIS SPORT CITY &rarr; </a>  
      </div>
    </div>
    <div class="AboutImages">
        <img src="../../assets/image1.jpg" alt="" class="about-image">
    </div>
  </div>
</div>
