<div class="ContactForm">
<div class='formbgcolor'>
</div>
  <div class="warpContact">
    <h1>Let's Connect</h1>
    <div>
      Any inquiries? We look forward to hearing from you! Give us a call, or
      send your request by email. Our team is always ready to assist!
    </div>
    <div class="contactLink">
      <a href="#"> Contact Us <span class="arrowForm"> &rarr; </span> </a>
    </div>
  </div>


  <div class="formHome">
      <div class="titleForm">
          REGISTER YOUR INTEREST
      </div>
    <form action="#">

  <div class="wraperForm">

    <div class="warperFormInput">
      <input type="text" placeholder="First Name" name="" id="" />
      <input type="text" placeholder="Last Name" name="" id="" />
      <input type="text" placeholder="Email Address" name="" id="" />
      <input type="text" placeholder="Number" name="" id="" />
       <select  class="homeContactSelecet" name="" id="">
        <option  value="" selected="selected"  hidden>Project You are Interested in</option>
        <option class='select-items'  value="">option1</option>
      </select>
    
    </div>

     
      <button class='formBtnHome'> submit
      </button>
    
   </div>
     
    </form>
  </div>


</div>


<!-- 
 <div style="height: 500px;background-color: white;display: flex;flex-direction: column;justify-content: center;width: 100vw;margin-left: 0px; ">
    <div style="height: 100px;background-color: rgb(206, 206, 203);width: 100vw;position: absolute;">
    </div>
    <div style="display: flex;justify-content: center;">
    <div style="background: green;z-index: 5;width: 300px; height:80px">
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
    </div>
    <div style="background: green;z-index: 5;width: 300px;">
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
        <p>asdas</p>
    </div>
</div>
</div> -->
