<div class="facilities">
  <div class="facilitiesWarper">
    <div class="col1">
      <div class="col11">
        <h1>FACILITIES</h1>
      </div>
      <div class="col12">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book
      </div>
    </div>

    <div class="col2">
      <div class="mainImg">
        <img
          class=""
          src="../../assets/Images/image1.jpg"
          width="100%"
          height="100%"
          alt="img"
        />
        <div class="mainImgtext">6500 M2</div>
      </div>

      <div class="aside1">
        <div class="aside1text">
          <h4>Sport Cities International</h4>
          LLC Lorem Ipsum is simply dummy text of
        </div>
        <div class="aside1img">
          <img
            class=""
            src="../../assets/Images/image3.jpg"
            width="100%"
            height="100%"
            alt="img"
          />
        </div>
      </div>

      <div class="aside2">
        <img class="" src="../../assets/Images/image1.jpg" width="100%" alt="img" />
      </div>
    </div>

    <div class="col3">
      <div>
        <h4>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem
        </h4>
        <span>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem
        </span>
        <div>
          <img class="" src="../../assets/Images/image1.jpg" width="100%" alt="img" />
        </div>
      </div>
      <div class="gridlinkbtn">
        <button class="btnH">
          <a href="#">VIEW ALL FACILITIES</a>
        </button>
      </div>
      <div class="gridlink">
        <a href="#">VIEW ALL FACILITIES</a>
      </div>
    </div>
  </div>
</div>
