<div class="slideshow-container">
  <div class="mySlides fade">
    <img
      alt="image"
      class="slider-image"
      src="assets/image1.jpg"
    />
    <div class="text">Lorem Ipsum is simply dummy text</div>
    <div class="dimmed"></div>
  </div>

  <div class="mySlides fade">
    <img
      alt="image"
      class="slider-image"

      src="assets/image2.jpg"
    />
    <div class="text">Caption Two</div>
    <div class="dimmed"></div>
  </div>

  <div class="mySlides fade">
    <img
      alt="image"
      class="slider-image"

      src="assets/image3.jpg"
    />
    <div class="text">Caption Three</div>
    <div class="dimmed"></div>
  </div>

  <a aria-label="link" class="prev" onclick="plusSlides(-1)">
    &larr; <span class="sliderbtn">Previous</span>
  </a>
  <a aria-label="link" class="next" onclick="plusSlides(1)"
    >&rarr;<span class="sliderbtn">Next</span></a
  >
</div>
<br />

<script src="../../Scripts/HomePageSlider.js"></script>

