<div class="projectsHome">
  <div class="sectiontitle">
    <h4 class="titleInSect">OUR PROJECTS</h4>
    <span class="titlelink">
      <a aria-label="link" href="">VIEW ALL &rarr;</a></span
    >
  </div>

  <div class="projectsDisplay">
    <div class="imgcont">
      <a aria-label="link" href="">
        <div class="dimmed-project"></div>
        <img class="project-images" src="../../assets/image1.jpg" alt="img" />
        <h4>LOREM IPSUM</h4>
      </a>
    </div>

    <div class="imgcont">
      <a aria-label="link" href="">
        <div class="dimmed-project"></div>

        <img class="project-images" src="../../assets/image2.jpg" alt="img" />
        <h4>LOREM IPSUM</h4>
      </a>
    </div>
    <div class="imgcont">
      <a aria-label="link" href="">
        <div class="dimmed-project"></div>

        <img class="project-images" src="../../assets/image3.jpg" alt="img" />
        <h4>LOREM IPSUM</h4>
      </a>
    </div>
    <div class="imgcont">
      <a aria-label="link" href="">
        <div class="dimmed-project"></div>

        <img class="project-images" src="../../assets/image1.jpg" alt="img" />
        <h4>LOREM IPSUM</h4>
      </a>
    </div>
  </div>
</div>
