<footer>
  <div class="BWS">
   DIGITAL SOLUTIONS BY WHITE BEARD
  </div>
  <div class="footer">
      <div class="footerWarper">
        
          <div>
            <h5>Contact Us</h5>
            <ul class="footerlinks">
              <li><a aria-label="link"  href="">Customer Service</a></li>
              <li><a aria-label="link"  href="">Sales Centre</a></li>
              <li><a aria-label="link"  href="">Careers</a></li>
            </ul>
          </div>

          <div >
            <h5>About Us</h5>
            <ul class="footerlinks">
              <li><a aria-label="link"  href="">About CSI</a></li>
              <li><a aria-label="link"  href="">Our Projects</a></li>
              <li><a aria-label="link"  href="">Sitemap</a></li>
            </ul>
          </div>
       
          <div>
            <h5>Advertise with us</h5>
            <ul class="footerlinks">
              <li><a aria-label="link"  href="">Email</a></li>
              <li><a aria-label="link"  href="">Phone number</a></li>
            </ul>
          </div>

          <div class="datafooter">
            <div class="footercontact">
              <h5>
                <a aria-label="link"  href=""> Contact For more info +00000000</a>
              </h5>
            </div>

            <div>
              <h5>
                <a aria-label="link"  href=""> Privacy Policy</a>
              </h5>
            </div>
            <div>
              <h5>
                <a aria-label="link"  href=""> Terms & Conditions</a>
              </h5>
            </div>
          </div>
      
        <div class="footerSocial">
          <div class="socialbtns2">
            <div class="socialbtn2">
                <a aria-label="link"  href="">
              <i class="fab fab2 fa-youtube">
              </i>
               </a>
            </div>

            <div class="socialbtn2">
                <a aria-label="link"  href="">
              <i class="fab fab2 fa-facebook-f">
              </i>
              </a>
            </div>

            <div class="socialbtn2">
                <a aria-label="link"  href="">
              <i class="fab fab2 fa-twitter">
              </i>
              </a>
            </div>
            <div class="socialbtn2">
                <a aria-label="link"  href="">
              <i class="fab fab2 fa-instagram">
              </i>
               </a>
            </div>
          </div>

          <div class="socialbtnText2">Subscribe to our newsletter</div>

          <div class="subscribeform">
            <form>
              <div class="flexformfooter">
                <input
                  id="emailfooter"
                  type="email"
                  placeholder="Email Address"
                  required="required"
                />
                <button class="buttonfooter">
                  <p class="bold">Send</p>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </footer>

