<div class="logo">
  <img id="logo" src="assets/Images/logo.png" alt="logo" />
</div>

<nav id="navbar">
  <!-- first list -->
  <div class="navigationlists">
    <div class="navigation1">
      <ul class="list">
        <li >
          <a aria-label="link" class="navbarLink" href="index.html">Home</a>
        </li>
        <li><a aria-label="link" class="navbarLink" href="About.html">ABOUT</a></li>
        <li><a aria-label="link" class="navbarLink" href="Projects.html">PROJECTS</a></li>
        <li>
          <a aria-label="link" class="navbarLink" href="News&Events.html">NEWS & EVENTS</a>
        </li>
        <li><a aria-label="link" class="navbarLink" href="ContactUs.html">CONTACT US</a></li>
        <li><a aria-label="link" class="navbarLink" href="Careers.html">CAREERS</a></li>
        <li><a aria-label="link" class="navbarLink" href="FAQ.html">FAQ</a></li>
      </ul>
    </div>
    <!-- secoond list -->
    <div class="navigation2">
      <ul class="list2">
        <li>
          <a aria-label="link" class="navbarLink2" href="FindUs.html">
            <i class="fas fa-map-marker-alt"></i>
            <span class="linktext">FIND US</span>
          </a>
        </li>
        <li>
          <a aria-label="link" class="navbarLink2" href="Register.html">
            <i class="fas fa-clipboard-list"></i>
            <span class="linktext"> REGISTER YOUR INTEREST</span>
          </a>
        </li>
        <li>
          <a aria-label="link" class="navbarLink2" href="#">
            <i class="fas fa-globe"></i>
            <span class="linktext"> LANGUAGE</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- third list -->
    <div class="navigation3">
      <div class="social">
        <div class="socialbtns">
          <div class="socialbtn">
            <a aria-label="link" href="">
              <i class="fab fa-youtube"></i>
            </a>
          </div>

          <div class="socialbtn">
            <a aria-label="link" href=""> <i class="fab fa-facebook-f"></i></a>
          </div>

          <div class="socialbtn">
            <a aria-label="link" href="">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
          <div class="socialbtn">
            <a aria-label="link" href="">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>

        <div class="socialbtnText">Subscribe to our newsletter</div>

        <div class="subscribeform">
          <form>
            <div class="flexform">
              <input
              class='navEmail'
                type="email"
                placeholder="Email Address"
                required="required"
              />
              <button class="button">
                <p class="bold">Send</p>
              </button>
            </div>
          </form>
        </div>

        <div class="navbottom">
          DIGITAL SOLUTIONS BY
          <span> WHITE BEARD</span>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="search">
  <i class="fas fa-search"></i>
</div>

<div class="menu-toggle">
  <i class="fa fa-bars"></i>
</div>

<script>
  $(document).ready(function () {
    $(".menu-toggle").click(function () {
      $("#navbar").toggle(1000);
      $("i", this).toggleClass("fa fa-bars fas fa-times");
    });
    $(function () {
          var current = location.pathname.split("/").pop();
          console.log(current)
          if(current !== ""){
          $(".navbarLink").each(function () {
            var $this = $(this); 
            if ($this.attr("href").indexOf(current) !== -1) {
              $this.addClass("active");
            }
          });
        }else{
          $("[href='index.html']").addClass("active");
        }
        });


  });
</script>
