* { margin: 0;padding: 0;box-sizing: border-box;font-family: Muli;list-style: none;text-decoration: none;}
body {background-color: rgba(219, 219, 219, 0.315);max-width:100vw !important;overflow: overlay !important;}
.nav {background-color: #ffffff;width: 100%;height: auto;display: flex;justify-content: space-around;align-items: center;}
.menu-toggle {display: none;}
.active { color: #00388e !important;}
.navigationlists {display: flex;flex-direction: column;}
.navigation2 {order: 1;}
.navigation1 {order: 2;border-top: 2px solid #f6f6f6;}
.navigation3 {order: 3;}
.list2 {display: flex;justify-content: flex-end;}
.list2 li {list-style: none;}
.linktext {font-weight: 800;margin-left: 5px;}
.list {display: flex;}
.list li {list-style: none;}
.navbarLink {padding: 20px;color: rgb(0, 0, 0);text-decoration: none;display: block;font-size: 15px;font-weight: 800;}
.navbarLink2 {font-size: 12px;padding: 15px;color: #00388e;text-decoration: none;display: block;}
.flexform {display: flex;background: #e6edf8;border-radius: 20px;width: -moz-fit-content;width: fit-content;margin-bottom: 30px;}
.navEmail {width: 230px;height: 40px;border-radius: 20px;background: #e6edf8;outline: none;border: none;padding-left: 10px;}
.button {height: 40px;width: 90px;border-radius: 20px;background-color: #ddaa5f;border: none;}
.bold {color: #ffffff;font-size: 13px;font-weight: bold;}
:-ms-input-placeholder {color: #00388e;font-size: 14px;font-weight: bold;padding: 5px;}
:-moz-placeholder {color: #00388e;font-size: 14px;font-weight: bold;padding: 5px;}
::-moz-placeholder {color: #00388e;font-size: 14px;font-weight: bold;padding: 5px;}
::-webkit-input-placeholder {color: #00388e;font-size: 14px;font-weight: bold;padding: 5px;}
.social {display: none;}
.socialbtns {width: 250px;display: flex;justify-content: space-around;align-items: center;margin-top: 30px;}
.fab {font-size: 18px;margin: 20%;color: #00388e;}
.socialbtn {background-color: #ffffff;height: 40px;width: 40px;border: 1px solid #00388e;border-radius: 50%;text-align: center;}
.socialbtnText {margin-top: 20px;margin-bottom: 20px;color: #00388e;font-weight: 800;font-size: 18px;}
.navbottom {background-color: #00388e;width: 100%;height: 50px;text-align: center;justify-content: center;padding-top: 15px;color: white;font-size: 15px;}
@media screen and (min-width: 900px) {.navbarLink:hover {color: #00388e;}}
@media screen and (max-width: 1028px) {#navbar {display: none; }.nav { padding: 0px;display: block;}.navigationlists {display: flex;flex-direction: column;}.navigation2 {order: 2;background-color: #e6edf8;margin-top: 20px;width: 100%;}.navigation1 {order: 1;border-top: none;}.list2 {display:flex;flex-direction: column;}.menu-toggle {display: block;line-height: 90px;color: rgb(0, 0, 0);font-size: 20px;cursor: pointer;padding-left: 10px;position: absolute;top: 0;left: 0;}.list {display: block;}.search {position: absolute;right: 0;top: 0%;line-height: 90px;margin-right: 10px;font-size: 20px;}.logo {display: flex;align-items: center;justify-content: center;}.navbarLink {padding: 10px;border-bottom: 1px solid rgba(179, 174, 174, 0.247);}.social {display: flex;flex-direction: column;justify-content: space-around;align-items: center;}}
@media screen and (max-width: 350px) {.navbottom {font-size: 12px;}
.navEmail {width: 160px;}}
@media screen and (min-width: 1029px) {#navbar {display: flex !important;}}
.footer {bottom: 0;width: 100%;justify-content: center;align-items: center;background-color: #00388e;}
.wbl {bottom:0;background-color: #ffffff;margin: auto;justify-content: center;text-align: center;align-items: center;padding: 2%;font-size: 12px;font-weight: 900;}
.footerWarper {margin-left: 10%;margin-right: 10%;display: flex;flex-flow: row wrap;justify-content: space-evenly;padding: 20px;color: #fff;}
.datafooter a {color: #fff;}
footer h5 {font-weight: 700;font-size: 18px;}
.footercontact {width: 98%;flex-wrap: wrap;margin-bottom: 20px;}
.socialbtns2 {width: 250px;display: flex;justify-content: space-evenly;}
.fab2 {font-size: 15px;margin: 20%;color: rgb(255, 255, 255);}
.socialbtn2 {height: 30px;width: 30px;border: 1px solid rgb(255, 255, 255);border-radius: 50%;text-align: center;}
.socialbtnText2 {margin-top: 20px;margin-bottom: 20px;color: rgb(255, 255, 255);font-weight: 800;font-size: 15px;}
.flexformfooter {display: flex;background: #f9f9fa21;border-radius: 20px;width: -moz-fit-content;width: fit-content;}
#emailfooter {width: 140px;height: 40px;border-radius: 20px;background: #d2d6dd00;outline: none;border: none;padding-left: 10px;}
.buttonfooter {height: 40px;width: 80px;border-radius: 20px;background-color: #ddaa5f;border: none;}
footer :-ms-input-placeholder {color: rgba(255, 255, 255, 0.6);}
footer :-moz-placeholder {color: rgba(255, 255, 255, 0.6);}
footer ::-moz-placeholder {color: rgba(255, 255, 255, 0.6);}
footer ::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.6);}
.footerSocial {display: flex;flex-direction: column;justify-content: space-around;align-items: center;}
footer ul li a {color: rgba(255, 255, 255, 0.877);font-size: 15px;}
.main {margin-top: 0.5%;padding-bottom: 0%;min-height: 50vh;}
.mySlides {display: none;}
.mySlides img {vertical-align: middle;}
.slideshow-container {width: 100%;position: relative;margin: auto;}
.prev,
.next {cursor: pointer;position: absolute;top: 90%;width: auto;margin-top: -10px;color: rgb(250, 250, 250);font-weight: bold;/* font-size: 18px; */transition: 0.6s ease;border-radius: 0 3px 3px 0;-webkit-user-select: none;user-select: none;right: 52%;}
.next {right: 45%;border-radius: 3px 0 0 3px;}
.prev:hover,
.next:hover {background-color: rgba(0, 0, 0, 0.1);}
.text {z-index: 2;color: #ffffff;font-weight: 600;font-size: 25px;padding: 8px 12px;position: absolute;bottom: 50%;width: 100%;text-align: center;}
.sliderbtn {font-size: 13px;}
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
@-webkit-keyframes fade {from {opacity: 0.9;}to {opacity: 1;}}
@keyframes fade {from {opacity: 0.9;}to {opacity: 1;}}
@media only screen and (max-width: 600px) {.prev,.next {font-size: 20px;}.text {font-size: 20px;}
.prev,.next {right: 52%;}
.next {right: 30%;}}
@media only screen and (max-width: 350px) {.text {font-size: 14px;}}
.projectsHome {background-color: #fff;}
.sectiontitle {display: flex;padding: 30px;flex-direction: column;justify-content: center;align-items: center;}
.titleInSect {margin-bottom: 5px;font-weight: 800;}
.titlelink a {font-size: 12px;color: black;}
.projectsDisplay {display: flex;flex-direction: row;}
.imgcont {position: relative;}
.imgcont h4 {color: white;position: absolute;bottom: 30px;left: 10px;transform: rotateZ(-90deg);transform-origin: left top 0;}
.imgcont img {height: 500px;}
.sectiontitleAbout {padding: 10;}
.about-body {display: flex;flex-direction: row;justify-content: center;margin: 0% 15%;}
.abouttext {font-size: 15px;width: 80%;margin-right: 5%;}

.AboutImages {width: 80%;}
.abouttext {display: flex;flex-direction: column;}
.aboutLink a {color: black;}
.aboutLink {font-size: 12px;font-weight: 800;margin-bottom: 35px;margin-top: 35px;}
[type="radio"] {display: none;}
#sliderAbout {height: 23vw;position: relative;perspective: 1000px;transform-style: preserve-3d;}
#sliderAbout label img {height: 100%;width: 100%;}
#sliderAbout label {margin: auto;width: 100%;height: 70%;border-radius: 4px;position: absolute;left: 0;right: 0;cursor: pointer;transition: transform 0.4s ease;}
#s1:checked ~ #slide2,#s2:checked ~ #slide1 {box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);transform: translate3d(-15%, 0, -100px);}
#s1:checked ~ #slide2,
#s2:checked ~ #slide1 {box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);transform: translate3d(30%, 0, -200px);}


.dimmed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: linear-gradient(180deg,rgba(0, 0, 0, 0.6) 50%,rgba(73, 72, 72, 0.6),rgba(29, 28, 28, 0.2));}
.slider-image {width: 100%;height: 350px;}
.project-images {width: 100%;}
.about-image {width: 100%;}
header {-webkit-mask-image: none;mask-image: none;}
.dimmed-project {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(65, 65, 65, 0.45);height: 500px;}
.facilities {background-color: rgb(255, 255, 255);}
.facilitiesWarper {padding-top: 4%;width: 70%;margin: auto;display: grid;grid-template-columns: repeat(3, 1fr);grid-column-gap: 35px;grid-row-gap: 45px;font-size: 15px;}
.col1 {grid-column-start: 1;grid-column-end: 4;display: grid;grid-template-columns: repeat(3, 1fr);}
.col12 {grid-column-start: 2;grid-column-end: 4;}
.col2 {grid-column-start: 1;grid-column-end: 3;display: grid;grid-template-columns: repeat(2, 1fr);grid-column-gap: 36px;grid-row-gap: 20px;}
.aside1text {margin-bottom: 12%;}
.aside2 img {width: 100%;height: 100%;object-fit: cover;}
.mainImg {position: relative;height: 250px;grid-column-start: 1;grid-column-end: 3;}
.mainImgtext {position: absolute;background-color: #00388e;width: fit-content;color: #ffffff;font-weight: 600;font-size: 20px;padding: 0.5rem;bottom: 0px;left: 0;margin: 0;}
.col3 {display: grid;}
.col3 div img {width: 100%;height: 350px;object-fit: cover;margin-top: 12%;}
.col11 h1 {border-bottom: 3px solid #ddaa5f;width: fit-content;}
.facilitiesWarper h4 {margin-bottom: 4%;}
.gridlink a {color: rgb(0, 0, 0);font-weight: 600;font-size: 12px;}
.gridlink {display: none;}
.btnH a {color: black;}
.btnH {border: 1px solid #ddaa5f;background-color: rgba(255, 255, 255, 0);border-radius: 100px;padding: 15px 32px;text-align: center;text-decoration: none;font-size: 12px;font-weight: 600;margin-top: 10%;cursor: pointer;}
.unitsHome {background: #ffffff;}
.unitsTitle {border-bottom: 3px solid #ddaa5f;width: fit-content;align-items: center;margin: auto;padding-top: 5%;}

.ContactForm {display: flex;margin: auto;flex-direction: row;justify-content: space-around;align-items: center;padding: 5% 5%;background-color: #ffffff;}
.formbgcolor {height: 300px;background-color: rgba(223, 223, 223, 0.198);width: 100%;position: absolute;}
.warpContact {z-index: 2;font-size: 14px;width: 50%;background-color: #00000000;font-weight: 600;margin-right: 50px;padding-left: 17%;}
.warpContact h1 {margin-bottom: 3%;}
.contactLink a {color: #ddaa5f;}
.contactLink {font-size: 20px;padding-top: 5%;}
.arrowForm {color: black;}
/* form */
.formBtnHome {border: none;background-color: #ddaa5f;color: white;border-radius: 100px;padding: 10px 22px;text-align: center;cursor: pointer;width: 150px;margin:2% auto;}
.wraperForm {display: flex;flex-direction: column;padding: 5% 4%;}
.warperFormInput {display: flex;justify-content: space-between;flex-wrap: wrap;}
.formHome input,
select {width: 45%;margin-bottom: 3%;padding:5% 2%;border: none;border-bottom: 1px solid #86a9dd;background-color: transparent;}
.formHome input::placeholder {color: #86a9dd;font-family: Muli;font-weight: 500;}
.formHome {z-index: 2;background-color: #f0f4fa;display: flex;flex-direction: column;justify-content: center;align-items: center;width: 50%;margin-right: 10%;}
.titleForm {color: #063e8e;padding: 25px;font-weight: 700;font-size: 25px;}
/* form */




.homeContactSelecet {color: #86a9dd;width: 100%;}
.contCard {display: flex !important;flex-direction: row;flex-wrap: wrap !important;border: 1px solid rgb(235, 232, 232);height: 290px !important;margin: auto;justify-content: center;margin-top: 20px;margin: 2px;font-size: 15px;}
.imgCard img {height: 100%;width: 100%;object-fit: cover;}
.imgCard {position: relative;width: 50%;height: 100% !important;}
.datacard {word-wrap: break-word;padding: 3%;height: 100%;width: 50%;height: fit-content;}
.datacard h2 {padding-top: 2%;border-bottom: 3px solid #ddaa5f;width: 75%;margin-bottom: 6%;}
.datacard .cardLink {border: none;background-color: #ddaa5f;color: white;border-radius: 100px;padding: 10px 10px;text-align: center;cursor: pointer;width: 120px;margin-top: 5%;margin-bottom: 5%;font-size: 12px;font-weight: 600;}
.datacard .cardLink a {color: white;}
.slickSlider {position: relative;padding-bottom: 4%;padding-top: 5%;width: 100%;}
.unitsHome {position: relative;}
.select-items {width: 10px !important;}
.hero{width:100%;height: 350px;position: relative;}
.textHero{z-index: 2;color: #ffffff;font-weight: 600;font-size: 25px;padding-left: 125px;position: absolute;left:0;bottom: 45%;width: 100%;font-size: 35px;}
.dimmedHero{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:linear-gradient(  to right,  rgba(41, 40, 40, 0.664) 35%,  rgba(158, 160, 161, 0.212) 75%); ;}
.welcome{font-size: 20px;margin-bottom: 1.5%;}
.aboutTitle{border-bottom: 2px solid white;width: fit-content;margin-bottom: 4%;font-size: 15px;display: none;}
.contAbout{padding:2% 10%;}
.mission{display:flex;flex-direction: row;padding-bottom: 4%;}
.imgMission{width:50%; height: 350px;}
.textMission{display: flex;flex-direction: column;justify-content: center;margin-left: 6%;width:50%;}
.missionTitle{margin-top: 2%;margin-bottom: 4%;}
.missionsubtitle{margin-bottom: 2%;}
.missiontext{width:70%;font-size: 15px;color:#8a8a8a;}
.missiontwo{margin-top: 8%;}
.vissiontext{width:75%;font-size: 15px;font-weight: 600;color:#8a8a8a;}
.vissionsubtitle{margin-bottom: 5%;width:78%;}
.OverView{background: rgb(255, 255, 255);display: flex;flex-direction: row;}
.slideshow{display: none;}
.slideShowWarper{display: flex;flex-direction: row;width: 50%;}
.overViewText{width: 50%;}
.slideShowContainer img{height: 400px;}
.slideShowrow{width:1600px;display:flex;flex-direction:column;justify-content: space-between;margin: 2%;}
.overViewText{display: flex;flex-direction: column;margin-top: 4%;margin-left: 4%;}
.overViewTitle{margin-bottom: 4%;}
.overViewsubtitle{margin-bottom: 5%;width:78%;}
.overViewtext{width:75%;font-size: 15px;font-weight: 600;color:#8a8a8a;}
.cursor {cursor: pointer;}
.AboutProjects{background: #fff;display: flex;flex-direction: column;}
.aboutProjectTitle{font-weight: 800;margin-bottom: 3%;}
.aboutProjectText{font-size: 18px;font-weight: 500;margin-bottom: 2%;}
.highlightedText{color: white;background-color: #063e8e;}
.aboutProjectImage img{height: 350px;}
.objectives{background-color: white;display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap; }
.objCont{display: flex;flex-direction: row;justify-content: center;align-items: center;width:255px;height:85px ;margin-bottom: 1%;background-color:#e0dbdb60;}
.objtitle{color: #063e8e;font-weight: 900;margin-bottom: 5%;}
.objdets{color: #a3a5a8;font-size: 12px;padding-left: 2%;padding-right: 14%;}
.objIcon{color: #063e8e;width: 35%;font-size: 35px;text-align: center;}
.objdata{width: 75%;}
.partnerswarpper{display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;}
.partners{background-color: white;}
.partnersCont{width:255px;height:80px ;margin-bottom: 1%;background-color:#e0dbdb60;}
.partnersdets{color: #000000;font-size: 12px;}
.datPartners{padding: 20px;}
.partnersTitle{font-weight: 600;margin-bottom: 3%;}
.brochure{background: #f0f4fa;}
.brouchureWarpper{width:70vw;margin: auto;}
.grid-container {display: grid;grid-template-columns: repeat(2, 1fr);gap: 0px 30px;grid-template-areas:"image description""image button";padding: 5%;}
.brochureMainImg { grid-area: image;text-align: right; z-index: 2;}
.brochuretext { grid-area: description;padding-top: 15%; }
.brochureMainImg{position: relative;}
.brochureTitle{color: #063e8e;font-weight: 800;font-size: 25px;padding-left: 30px;margin-bottom: 3%;}
.brochucrecolor{border-bottom: 2px solid #063e8e;width:50%;margin-bottom: 4%;}
.brochureDets{color:#063e8e;font-size: 14px;font-weight: 500;}
.download_icon{margin-left:5px;}
.downloadbrochure{color:#063e8e;line-height: 15px;grid-area: button; font-size: 15px;border:1px solid #063e8e;padding:15px 20px;text-align: center;height:50px;width:180px;border-radius: 50px;margin-top: 1rem;}
.imgbwarp{width: 250px;height: 350px;margin: auto;background-image: url("../Images/image1.jpg");background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;}
.imgbwarp::before{display: inline;content: '';background-image: url("../Images/image2.jpg");width: 100%;height: 100%;position: absolute;top: 0;left: -30%;z-index: -10;background-repeat: no-repeat;background-size: cover;filter: blur(5px);}
.contact_us{padding: 2% 15%;display:flex;justify-content: center;align-items: center;}
.contactUsTitle{font-size: 45px;width:40%;font-weight:800 ;color: #063e8e;}
.contactusTitleDets{width:50%;font-size: 15px;margin-left: 10%;color: #8a8a8a;}
.contact_details{padding: 2% 15% 0 15%;background-color: #fff;display: flex;}
.detsContaior{margin-left: 10%;display: flex;justify-content: center;align-items: center;}
.contactDetsTitle{width: 40%;font-size: 25px;font-weight: 800;padding-top: 2%;}
.detscont{display: flex;flex-direction: column;align-items: center;width: 80%;margin-bottom: 10%;text-align: center;}
.iconTitleCont{display: flex;flex-direction: column;justify-content: space-between;align-items:center;margin-bottom: 5%;}
.detsIcon{font-size: 20px;padding-bottom: 10px;}
.detsTitle{font-size: 15px;font-weight: 600;}
.detstext{font-size: 9.5px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.detstextsub{font-weight: 600;padding-left: 10px;}
.detscont{border-right: 2px solid rgba(212, 209, 209, 0.493) ;}
.detstext{padding:0 3%;}
.contact_projects{background-color: #fff;padding: 2% 15%}
.contactProjectTitle{display: flex;justify-content: space-between;}
.contProjTitle{width:50%;display: flex;flex-direction: column;}
.mainProjTitle{font-size: 25px;font-weight: 600;margin-bottom: 3%;}
.contProjlink{margin-left: 35%;font-size: 12px;}
.contProjlink a{color: #000000;font-weight: 600;}
.contprojecttext{width: 50%;font-size:14px;color:#8a8a8a;font-weight: 600;}
.contactarrow{font-size: 15px;}
.contactCardCont{padding-top: 5%;display: flex;flex-direction: row;flex-wrap: nowrap;margin-left:2%;align-items: center;justify-content: space-between;}
.contactCard{background:rgba(219, 219, 219, 0.315);box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);border: 1px solid rgb(231, 231, 231);width:90%;height: fit-content;color:black;}
.contactCard:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.cardContImg{height: 300px;}
.contCardDat{padding:4%;}
.maincardTitle{font-size: 20px;font-weight: 700;margin-bottom: 2%;}
.subCardtitle{font-size: 15px;color:#8a8a8a}
.stay_connected{background-color: rgb(255, 255, 255);padding: 6% 15%;}
.stayCont{display: flex;flex-wrap: wrap;background:rgba(219, 219, 219, 0.315); padding: 4%;  justify-content:space-evenly}
.flexformStay {display: flex;background: #ffffff;border: none;border-radius: 0 20px 20px 0;width: -moz-fit-content;width:100%;border: 1px solid rgb(201, 200, 200);border-right:  none;}
.stayEmail {width: 75%;height: 40px;background: #ffffff;outline: none;border:none;padding-left: 10px;}
.buttonForm {height: 40px;width: 25%;border-radius: 20px;background-color:rgb(4, 21, 51);border: none;}
.stayEmail::placeholder{color:black;}
.stayText{width:50%;font-size: 25px;font-weight: 800;}
.stayEmailCont{width:40%;padding-left: 1.25%;padding-top: 1%;}
.form-maps{background-color: #fff;padding: 3% 15% 8% 15%;display: flex;}
.contForm{width: 50%;background-color: #ffffff;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
.mapsCont{width:50%;}
textarea { resize: none; }
.contForm{padding: 3% 2%;display: flex;flex-direction: column;}
.contFormInput{display: flex;justify-content: space-between;flex-wrap: wrap;}
.contFormInput input{width: 48%;margin-bottom: 3%;padding: 2%;background-color: rgba(139, 141, 145, 0.082);border: none;}
.contInpt{padding: 2%;margin-bottom: 3%;background-color: rgba(139, 141, 145, 0.082);border: none;}
.contInpt::placeholder{color: black; font-size: 12px;}
.contFormInput input::placeholder {color: black ;font-size: 12px;}
.buttonForm1 {height: 40px;width: 95px;border-radius: 20px;background-color:rgb(4, 21, 51);border: none;}
.mapsBtn{text-align:end;}
.textHeroFind{z-index: 2;color: #ffffff;font-weight: 600;position: absolute;left:43%;bottom: 45%;font-size: 45px;}
.topText{padding:4% 15%;display: flex;justify-content: center;align-items: center;background-color: #fff;}
.topTextTittle{width: 30%;font-size: 32px;font-weight: 900;color:#063e8e;}
.topTextDets{ width: 60%;font-size: 15px;}
.findmap{width:100%;height: 400px;}

.regestir{
  display: flex;
}
.regImge{
  width:50%;
  height: 30rem;
}
.regForm{
   width:50%;
}



.formBtnHomereg {
  border: none;
  background-color: #ddaa5f;
  color: white;
  border-radius: 100px;
  padding: 10px 22px;
  text-align:center;
  cursor: pointer;
  width: 150px;
  margin-top:8%;
}
.wraperFormreg {
  display: flex;
  flex-direction: column;
}

.formHomereg input,
select {
  width: 100%;
  margin-bottom: 5%;
  padding:3% 0 ;
  border: none;
  border-bottom: 1px solid #86a9dd;
  background-color: transparent;
}
.formHomereg input::placeholder {
  color: #86a9dd;
  font-family: Muli;
  font-weight: 600;
}

.formHomereg {
  background-color: #f0f4fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 30% 0 10%;
}
.titleFormreg {
  color: #063e8e;
  font-weight: 900;
  font-size: 45px;
  padding-bottom: 10%;
}





@media screen and (max-width: 900px) {


.formHomereg input,
select {
  width: 100%;
  margin: 0 !important;
  margin-bottom: 4%;
  padding:6% 0 !important;
  border: none;
  border-bottom: 1px solid #86a9dd;
  background-color: transparent;
}

.formHomereg {
  width: 100%;
  padding: 0 6%;
}
.titleFormreg {
  font-size: 45px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.formBtnHomereg {
  margin-bottom: 5%;
}








.regestir{display: flex;flex-direction: column;}
.regImge{width:100%;height: 20rem;}
.regForm{width:100%;}





.topText{padding:8% 8%;flex-direction: column;text-align: center;}
.topTextTittle{width: 100%;margin-bottom: 5%;font-size: 25px;}
.topTextDets{ width: 100%;}
.textHeroFind{left:40%;bottom: 45%;padding-bottom: 2%;border-bottom: 3px solid white;width: fit-content;font-size: 40px;}
.form-maps{background-color: #fff;padding: 4% 0;display: flex;flex-direction: column;}
.contForm{width: 100%; order:2}
.mapsCont{width: 100%;order:1;height:300px}
.contForm{padding: 8% 4%;display: flex;flex-direction: column;}
.contFormInput{display: flex;flex-direction: column;justify-content: space-between;flex-wrap: wrap;}
.contFormInput input{width: 100%;}
.mapsBtn{text-align: center;}
.stay_connected{padding: 5% 4% ;}
.stayCont{flex-direction: column;padding: 4% ;}
.stayText{width:100%;font-size: 25px;font-weight: 800;margin-bottom: 14%;}
.stayEmailCont{width:100%;padding-left: 0;padding-top: 0;}
.contactCardCont{padding-top: 5%;display: flex;flex-direction: column;flex-wrap: nowrap;margin-left:0%;align-items: center;justify-content: center;}
.contactCard{margin-bottom: 4%;width:100%;}
.contactCard:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.cardContImg{height: 300px;}
.contCardDat{padding: 4%;}
.maincardTitle{font-size: 20px;font-weight: 700;margin-bottom: 2%;}
.subCardtitle{font-size: 15px;color:#8a8a8a}
.contact_projects{background-color: #fff;padding:2%;}
.contactProjectTitle{display:flex;flex-direction:column;}
.contProjTitle{width:100%;justify-content:flex-start;}
.mainProjTitle{margin-bottom:5%;}
.contProjlink{margin-left:0%;margin-bottom:5%;}
.contprojecttext{width: 100%;}
.contact_details{padding: 0 10%;flex-direction: column;}
.detsContaior{margin-left: 0%;flex-direction: column;}
.contactDetsTitle{text-align: center;width: 100%;font-size: 18px;font-weight: 700;padding-top: 4%;padding-bottom: 10%;}
.detstext{font-size: 14px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.detscont{border-bottom: 2px solid rgba(212, 209, 209, 0.493) ;border-right: none ;padding-bottom: 15px;}
.contact_us{padding: 5% 10%;flex-direction: column;}
.contactUsTitle{font-size: 30px;text-align: center;width:100%;margin-bottom: 5%;}
.contactusTitleDets{width:100%;margin-left: 0%}
.imgbwarp{width: 200px;height: 290px;background-image: url("../Images/image1.jpg");background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;}
.imgbwarp{margin-top: 5%;}
.brouchureWarpper{width:100vw;margin: 0;}
.brochureDets{padding:0 20px;}
.grid-container{grid-template-columns: 1fr;gap: 0px 0px;grid-template-areas:"image""text""button";padding: 0;padding-top: 3%;}
.brochureMainImg { grid-area: text;  text-align: center; }
.brochuretext { grid-area: image; padding-top: 0; }
.downloadbrochure {grid-area: button;margin: 2rem auto;}
.aboutProject{order:2;}
.aboutProjectImage{order:1;}
.aboutProjectImage img{height: 250px;}
.aboutProjectTitle{margin-top: 6%;}
.OverView{flex-direction: column;}
.slideShowWarper{display: flex;flex-direction: column;width: 100%;}
.overViewText{width: 100%;margin-top: 0%;}
.slideShowContainer img{height: 250px;}
.slideShowrow{width:100%;height: fit-content;display:flex;flex-direction:row;justify-content: space-between;margin: 0%;}
.slideShowrow img{width:100%;height: 80px;padding: 2px;}
.overViewText{margin-left: 0%;}
.overViewTitle{margin-top: 4%;}
.overViewsubtitle{width:100%;}
.overViewtext{width:100%;}
.mission{display:flex;flex-direction: column;}
.imgMission{width:100%;height: 250px;}
.textMission{margin-left: 0%;width: 100%;}
.missionTitle{margin-top: 6%;}
.missiontext{width:100%;}
.missiontwo{margin-top: 8%;}
.vissiontext{width:100%;}
.vissionsubtitle{width:100%;}
.contAbout{padding:4% 5%; }
.textHero{font-size: 23px !important;padding-left: 5% ;bottom: 40%;}
.aboutTitle{font-size: 25px;display: block !important;}
.welcome{font-size: 18px;margin-top: 8%;}
.datacard h2 {border-bottom: 3px solid #ddaa5f;width: fit-content;margin-bottom: 6%;}
.contCard {display: flex !important;flex-direction: column;height: fit-content !important;}
.imgCard {width: 100%;height: 250px !important;}.datacard {width: 100%;font-size: 14px;}
.ContactForm {flex-direction: column;align-items: flex-start;padding: 0px;box-shadow: none;}
.warpContact {font-size: 16px;width: 100% !important;background-color: rgba(255, 21, 21, 0);margin-right: 0%;padding: 4%;}.formbgcolor {display: none;}
.warpContact h1 {font-size: 25px;margin-top: 5%;margin-bottom: 4%;}
.contactLink {margin-bottom: 2%;}
.contactLink a {color: #ddaa5f;}

/* form */
.wraperForm {flex-direction: column;align-items: flex-start;padding: 0;}
.warperFormInput {display: flex;flex-direction: row;justify-content: center;align-items: flex-start;width: 100%;}
.titleForm {padding:3% 2%;}
.formHome input,select {width: 100%;margin: 10px;padding:3% 0;}
.formHome select{width:98%}
.formHome {display: block;width: 100%;margin-right: 0 !important;padding:2%;}
.formHome input::placeholder {color: #86a9dd;font-family: Muli;font-weight: 500;}
.formBtnHome {margin: 3% 0;}

/* form */
#sliderAbout {height: 230px;position: relative;perspective: 2000px;transform-style: preserve-3d;}

.btnH {display: none;}.gridlink {display: block;}.aside1text {margin-bottom: 2%;}.facilitiesWarper {width: 100%;grid-column-gap: 0px;grid-row-gap: 0px;grid-template-columns: 1fr;grid-row-gap: 10px;}
.AboutUs {padding: 10px;}
.col1 {grid-column-start: 1;grid-column-end: 2;display: grid;grid-template-columns: 1fr;}.col12 {grid-column-start: 1;grid-column-end: 2;}.col2 {position: relative;grid-template-columns: 1fr;grid-row-gap: 5px;}.mainImg {grid-column-start: 1;grid-column-end: 2;padding-bottom: 25px;}
.col2 img {height: 250px;}.col3 div img {width: 100%;height: 250px;object-fit: cover;}.col11 h1 {margin-bottom: 5%;}
.aside1,.aside2,.col1,.col3 {padding-left: 3%;padding-right: 3%;}
.col3 div img {margin-top: 6%;}
.gridlink {margin-top: 25px;margin: auto;border: none;display: block;padding: 5%;}.gridlink ::after {content: "\2192 ";font-size: 20px;}
.footerWarper {display: flex;flex-flow: wrap;justify-content: space-between;margin-left: 3%;margin-right: 3%;}.footerWarper > div {flex: 50%;margin-bottom: 30px;}
.footerSocial {align-items: flex-start !important;flex-wrap: wrap;width: 80%;display: block;}.socialbtns2 {justify-content: space-between;flex-wrap: wrap;width: 80%;}
.flexformfooter {width: 80% !important;}
#emailfooter {display: flex;flex-wrap: wrap;width: 90% !important;}.sectiontitleAbout {align-items: flex-start;padding: 0px;}.about-body {flex-direction: column;justify-content: space-between;align-items: flex-start;margin: 1%;}
.abouttext {width: 100%;}.projectsDisplay {flex-direction: column;}.imgcont h4 {bottom: 30px;left: 10px;transform: rotateZ(0deg);}.imgcont img {height: 300px;}.dimmed-project {height: 300px;}#sliderAbout label {height: 100%;}
}
@media screen and (max-width: 400px) {
.imgbwarp{margin:20px 35px 0 0;float: right;}
  .textHeroFind{
  left:30% !important;
  font-size: 35px;

}

}
@media screen and (max-width: 570px) {
.objCont{width:100%;}
.partnersCont{width:100%;}
.titleFormreg {
  font-size: 25px;
}
}