<div class="AboutProjects contAbout">
  <div class="aboutProject">
    <div class="aboutProjectTitle">
    <h4>PROJECT OVERVIEW</h4>
  </div>
  <div class="aboutProjectText">
    The Design Brief for Tunis Sports City is to create a landmark development
    which will set a new precedent in Tunisia and North Africa for successful
    urban destination, and create an open-space oriented development that
    provides a mix of uses where people will come to 
   <span class="highlightedText"> LIVE, WORK and PLAY.</span>
  </div>
</div>
  <div class="aboutProjectImage">
  <img src="../../assets/Images/image2.jpg" style="width: 100%" />
  </div>
</div>
