<div class="mission_vission contAbout">
  <div class="mission">
    <div class="imgMission">
      <img
        alt="image"
        class=""
        src="../../assets/Images/image2.jpg"
        width="100%"
        height="100%"
      />
    </div>
    <div class="textMission">
      <div class="missionTitle"><h3>MISSION</h3></div>
      <div>
        <div class="missionsubtitle"><h4>Understand the market</h4></div>
        <div class="missiontext">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry’s standard dummy text ever
        </div>
      </div>
      <div class="missiontwo">
        <div class="missionsubtitle"><h4>Build people’s dreams</h4></div>
        <div class="missiontext">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry’s standard dummy text ever
        </div>
      </div>
    </div>
  </div>

  <div class="mission">
    <div class="imgMission">
      <img
        alt="image"
        class=""
        src="../../assets/Images/image2.jpg"
        width="100%"
        height="100%"
      />
    </div>
    <div class="textMission">
      <div class="missionTitle"><h3>VISSION</h3></div>
      <div>
        <div class="vissionsubtitle">
          <h5>
            Sport Cities International Tunis is a unique concept of a sports
            themed real estate community which fosters healthy living in a
            vibrant and energetic atmosphere.
          </h5>
        </div>
        <div class="vissiontext">
          The city within a city will boast of world-class sporting venues that
          attract major international events to the country. In addition, by
          partnering with leading Sports brands, the community will offer
          unmatched excellence in training facilities for residents and
          international athletes alike.
        </div>
      </div>
    </div>
  </div>
</div>
