<div class="objectives contAbout">

 <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>

  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>
  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>
  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>
  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>
  <div class="objCont">
<div class="objIcon">
        <i class="fa fa-pencil-ruler"></i>
    </div>
    <div class="objdata">
      <div class="objtitle">
          <h5>OBJECTIVE 1</h5>
        </div>
      <div class="objdets">Create a network of open spaces and parks</div>
    </div>
  </div>
  


</div>
