<div class="OverView contAbout">

  <div class="slideShowWarper">

    <div class="slideShowContainer">
      <div class="slideShow">
        <img src="../../assets/Images/image1.jpg" style="width:100%" />
      </div>

      <div class="slideShow">
        <img src="../../assets/Images/image2.jpg" style="width: 100%" />
      </div>

      <div class="slideShow">
        <img src="../../assets/Images/image3.jpg" style="width: 100%" />
      </div>

      <div class="slideShow">
        <img src="../../assets/Images/image1.jpg" style="width: 100%" />
      </div>
    </div>
    
    <div class="slideShowrow">
      <div class="slideShowcolumn">
        <img
          class="demo cursor"
          src="../../assets/Images/image1.jpg"
          style="width: 100%"
          onclick="currentSlide(1)"
          alt=""
        />
      </div>

      <div class="slideShowcolumn">
        <img
          class="demo cursor"
          src="../../assets/Images/image2.jpg"
          style="width: 100%"
          onclick="currentSlide(2)"
          alt=""
        />
      </div>

      <div class="slideShowcolumn">
        <img
          class="demo cursor"
          src="../../assets/Images/image3.jpg"
          style="width: 100%"
          onclick="currentSlide(3)"
          alt=""
        />
      </div>

      <div class="slideShowcolumn">
        <img
          class="demo cursor"
          src="../../assets/Images/image1.jpg"
          style="width: 100%"
          onclick="currentSlide(4)"
          alt=""
        />
      </div>
      
    </div>
   










  </div>
  









  <div class="overViewText">
    <div class="overViewTitle"><h3>TUNIS OVERVIEW</h3></div>
    <div>
      <div class="overViewsubtitle">
        <h5>
          Tunisia is firmly in the bracket of middle-income countries, and
          considered one of the most successful economies in the African
          continent.
        </h5>
      </div>
      <div class="overViewtext">
        GDP per capita was USD 8,800 for the year 2006. Tunisia is ranked mo st
        co mpetitive economy of Africa in the 2007 edition of the Global
        Competitiveness Report that is released by the World Economic Forum. It
        also ranks first in the Arab World and 29th globally
      </div>
    </div>
  </div>

</div>
<script src="../../Scripts/overView_SlideShow.js"></script>
