<div class="partners contAbout">
<div class="aboutProjectTitle">
    <h4>PARTNERS</h4>
</div>

<div class="partnerswarpper">
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>
<div class="partnersCont">
    <div class="datPartners">
      <div class="partnersTitle">
          <h5>Lorem Ipsum</h5>
        </div>
      <div class="partnersdets">Lorem Ipsum is simply dummy </div>
      </div>
</div>




  </div>

  
</div>