<div class="contact_details">
  <div class="contactDetsTitle">
    LEAVE A MESSAGE BELOW AND WE’LL GET BACK TO YOU!
  </div>
  <div class="detsContaior">
    <div class="detscont">
      <div class="iconTitleCont">
        <div class="detsIcon"><i class="fas fa-mobile-alt"></i></div>
        <div class="detsTitle">PHONE</div>
      </div>
      <div class="detstext">
        <div class="detstextone">
          Tel: 000000000
          <span class="detstextsub">ext: </span>609
        </div>
        <div class="detstext2">Fax: 000000000</div>
      </div>
    </div>

    <div class="detscont address">
      <div class="iconTitleCont">
        <div class="detsIcon"><i class="fas fa-map-marker-alt"></i></div>
        <div class="detsTitle">ADDRESS</div>
      </div>
      <div class="detstext">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting
        </div>
      </div>
    </div>

    <div class="detscont">
      <div class="iconTitleCont">
        <div class="detsIcon"><i class="fas fa-envelope-open-text"></i></div>
        <div class="detsTitle">EMAIL</div>
      </div>
      <div class="detstext">
        <div class="detstextone">loremipsum@tsc.com</div>
        <div class="detstext2">www.tsc.com</div>
      </div>
    </div>
  </div>
</div>
