<div class="contact_projects">
  <div class="contactProjectTitle">
    <div class="contProjTitle">
      <div class="mainProjTitle">Explore Our Projects</div>
      <div class="contProjlink">
        <a aria-label="link" href=""
          >VIEW ALL <span class="contactarrow"> &rarr;</span></a
        >
      </div>
    </div>
    <div class="contprojecttext">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry’s standard dummy text ever
    </div>
  </div>

  <div class="contactCardCont">
     <a href="#">
    <div class="contactCard ">
      <div class="cardContImg">
        <img
          alt="image"
          class=""
          src="../../assets/Images/image3.jpg"
          width="100%"
          height="100%"
        />
      </div>
      <div class="contCardDat">
        <div class="maincardTitle">PROJECT 01</div>
        <div class="subCardtitle">CEDAR DEVELOPMENT</div>
      </div>
    </div>
    </a> 
    
   <a href="#">
    <div class="contactCard">
      <div class="cardContImg">
        <img
          alt="image"
          class=""
          src="../../assets/Images/image1.jpg"
          width="100%"
          height="100%"
        />
      </div>
      <div class="contCardDat">
        <div class="maincardTitle">PROJECT 02</div>
        <div class="subCardtitle">ZAITOONA DEVELOPMENT</div>
      </div>
    </div>
    </a>


  </div>
</div>
