<div class="stay_connected">
  <div class="stayCont">
    <div class="stayText">
      Get updates and Stay Connected - Subscribe To Our Newsletter
    </div>
    <div class="stayEmailCont">
      <form>
        <div class="flexformStay">
          <input
            class="stayEmail"
            type="email"
            placeholder="Email Address"
            required="required"
          />
          <button class="buttonForm">
            <p class="bold">Send</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
