<div class="regestir">
    <div class="regImge">
      <img src="../../assets/Images/image1.jpg"
      width="100%"
      height="100%"
      />
    </div>
    <div class="regForm">
        <div class="formHomereg">
      <div class="titleFormreg">
          REGISTER YOUR INTEREST
      </div>
    <form action="#">

  <div class="wraperFormreg">

    <div class="warperFormInputreg">
      <input type="text" placeholder="First Name" name="" id="" />
      <input type="text" placeholder="Last Name" name="" id="" />
      <input type="text" placeholder="Email Address" name="" id="" />
      <input type="text" placeholder="Number" name="" id="" />
       <select  class="homeContactSelecet" name="" id="">
        <option selected hidden>Project You are Interested in</option>
        <option class='select-items'  value="">option1</option>
      </select>
    
    </div>

     
      <button class='formBtnHomereg'> submit
      </button>
    
   </div>
     
    </form>
  </div>

    </div>
</div>